

.productCard{
    max-width: 40rem;
    display: flex;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transition: .5s;
    scale: 105%;
}
.card{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color:var(--color-secundario);

    margin: 10px;
    border: 2px solid var(--color-btn);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-link);
}
.card a{
    color: var(--color-link);
    margin-bottom: 5px;
}
img{
    max-height: 250px;

    border-radius: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textCard{
    color: var(--color-txt);
    padding: 5px;
    text-align: center;
    max-width: 18rem;
}