.cartCard{    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--color-secundario);
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--color-btn);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--color-link);}