.contactPage{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    overflow: hidden;
    height: 100%;
}

.inputContact{
    display: flex;
    text-align: left;
    justify-content: center;
    border-radius: 3px;
    background-color: var(--color-secundario);

}
.formContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    max-width: 600px;
    background-color: #e9f3eaa2;
    padding: 20px;
    border-radius:20px 0px ;
}
label{
    margin: 3px;
    color: var(--color-txt);
    font-size: 0.9rem;
    font-weight: 600;
}
textarea{
    border-radius: 5px;
}