
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);


}
.homeSearch{
    display: flex;
    align-items: center;
    margin: 0.4rem;
    justify-content: center;
}
.buscador{
    padding: 10px;
}
.precioCont{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;



}
input{ 
    display: flex;
    text-align:center;
}
.cardsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

input{
    border-radius: 3px;
    background-color: var(--color-secundario);
}