
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    overflow: hidden;

}
.homeSearch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;


}
.buscador{
    padding: 10px;
    margin: 10px;
}
.precioCont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{ 
    display: flex;
    text-align: center;
    border-radius: 6px;
    background-color: var(--color-secundario);
}
.cardsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

